.sign-up{
    margin: 110px 0 108px 0;
    &__text{
        text-align: center;
    }
    h2{

    }
    p{
        padding-top: 20px;
    }
    hr{
        width: 20%;
        background-color: #C4C4C4;
        height: 1px;
        border: none;
        
    }
}